include *.txt
include *.md
include *.pkl
recursive-include ./patient_survival_model *

include patient_survival_model/datasets/patient_survival.csv
include patient_survival_model/datasets/test.csv
include patient_survival_model/trained_models/*.pkl
include patient_survival_model/VERSION
include patient_survival_model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]